:root {
  --amplify-components-heading-1-font-size: 2.0rem;
  --amplify-components-heading-1-font-weight: var(--amplify-font-weights-normal);
  --amplify-components-heading-2-font-size: 1.8rem;
  --amplify-components-heading-2-font-weight: var(--amplify-font-weights-normal);
  --amplify-components-heading-3-font-size: 1.6rem;
  --amplify-components-heading-3-font-weight: var(--amplify-font-weights-normal);
  --amplify-components-heading-4-font-size: 1.4rem;
  --amplify-components-heading-4-font-weight: var(--amplify-font-weights-normal);
  --amplify-components-heading-5-font-size: 1.2rem;
  --amplify-components-heading-5-font-weight: var(--amplify-font-weights-normal);
  --amplify-components-heading-6-font-size: 1.1rem;
  --amplify-components-heading-6-font-weight: var(--amplify-font-weights-normal);
}
